  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

    .title-text {
    font-family: "Press Start 2P", monospace;
}

* {
    pointer-events: none;
}


    body {
        margin: 0;
        padding: 0;
        background: #050608;
        color: #fff;
        font-family: Consolas, monospace;
        font-size: 18px;
        overflow: hidden;
    }

    .topbar {
        border-bottom: 1px solid #424242;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #050608;
        position: sticky;  
  top: 0;
  z-index: 1000;
    }

    .video-area {
  width: 100%;
  height: 100%;       /* change to whatever you want */
  background: black;
  overflow: hidden;
}

.video-area video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}
    .bar-line {
        height: 3px;
        background: white;
        flex-grow: 1;
    }
    .bar-block {
        width: 100px;
        height: 20px;
    }
    #terminal {
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    font-size: 18px;
    line-height: 1.4em;
}


    .terminal-container {
        max-width: 900px;
        margin: 40px auto;
        padding: 20px;
    }

    .terminal-window {
        border: 1px solid #2f2f2f;
        background: rgba(0, 0, 0, 0.4);
        padding: 20px;
        height: 500px;
        overflow-y: auto;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.05);
        white-space: pre-wrap;
    }
    h1 {
    font-family: "Press Start 2P", monospace;
    letter-spacing: 0.25em;
}
    .cursor {
        display: inline-block;
        width: 10px;
        background: #fff;
        margin-left: 3px;
        animation: blink 0.6s infinite;
    }
    

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

    .tl-line { font-family: monospace; line-height: 1.35; }
.tl-yr { font-weight: 700; }
.tl-money { opacity: .9; margin-left: 10px; }
.tl-txt { opacity: .85; display:block; margin-left: 6px; }
.tl-dots { opacity: .7; font-family: monospace; }

.tl-glitch { animation: glitchFlash 120ms steps(2, end) 2; }
@keyframes glitchFlash {
  0% { filter: contrast(200%) saturate(200%); }
  50% { filter: invert(1); }
  100% { filter: none; }
}

    